<form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="container">
    <div class="form-group row">
      <div class="col-sm-2">
        <label for="nome">Nome</label>
      </div>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite o nome do item"
        [(ngModel)]="objeto.nome" required #nome="ngModel">
        <div class="error" *ngIf="!nome.valid && nome.touched">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          O campo é obrigatório
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2">
        <label>Tempo Execução</label>
      </div>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="objeto.tempoExecucao" name="tempoExecucao" id="tempoExecucao" placeholder="Tempo em turnos">
        <p class="smallText">Caso não tenha certeza pode deixar em branco</p>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2">
        <label>Alcance</label>
      </div>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="objeto.alcance" name="alcance" id="alcance" placeholder="Alcance em metros">
        <p class="smallText">Caso não tenha certeza pode deixar em branco</p>
      </div>
   </div>

   <div class="form-group row">
    <div class="col-sm-2">
      <label>Duração</label>
    </div>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="objeto.duracao" name="duracao" id="duracao" placeholder="Duração em turnos">
       <p class="smallText">Caso não tenha certeza pode deixar em branco</p>

    </div>
   </div>

   <div class="form-group row">
    <div class="col-sm-2">
      <label>Custo</label>
    </div>
    <div class="col-sm-10">
      <input type="number" class="form-control" [(ngModel)]="objeto.custo" name="custo" id="custo" placeholder="Custo em Mana ou Stamina">
       <p class="smallText">Caso não tenha certeza pode deixar em branco</p>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">
      <label for="nome">Descrição</label>
    </div>
    <div class="col-sm-10">
      <textarea type="text" class="form-control" name="descricao" id="descricao" placeholder="Digite a descrição"
      [(ngModel)]="objeto.descricao" required #descricao="ngModel"></textarea>
      <div class="error" *ngIf="!descricao.valid && descricao.touched">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        O campo é obrigatório
      </div>
    </div>
  </div>



  <div class="form-group row">
    <div class="col-sm-12">
      <button type="submit" class="btn- btn-primary" [disabled]="!f.valid">Submeter</button>
    </div>
  </div>

  </div>
</form>