<form [formGroup]="form">
  <fieldset>
      <legend>Login</legend>
      <div class="form-field">
          <label>Login:</label>
          <input name="login" formControlName="login">
      </div>
      <div class="form-field">
          <label>Senha:</label>
          <input name="senha" formControlName="senha"
                 type="password">
      </div>
  </fieldset>
  <div class="form-buttons">
      <button class="button button-primary"
              (click)="login()">Login</button>
  </div>
</form>