<nav class="navbar navbar-expand-md" style="background-color: #e3f2fd;">
  <ul class="nav navbar-nav">
    <li>
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" style="margin-right: 10vh;">
        <img src="./assets/dnd.svg" width="70px" height="50px" class="d-inline-block align-top" alt="">
      </div>
    <li>
      <a [routerLink]="['/dataForm']" routerLinkActive="router-link-active" class="navbar-brand" href="#">
        <img src="./assets/skills.svg" width="30px" height="30px" class="d-inline-block align-top" alt="">
        Habilidades
      </a>
    </li>
    <li>
      <a [routerLink]="['/templateForm']" routerLinkActive="router-link-active" class="navbar-brand" href="#">
        <img src="./assets/chest-armor.svg" width="30px" height="30px" class="d-inline-block align-top" alt="">
        Itens
      </a>
    </li>
    <li>
      <a routerLinkActive="router-link-active" class="navbar-brand" href="#">
        <img src="./assets/orc-head.svg" width="30px" height="30px" class="d-inline-block align-top" alt="">
        Monstros
      </a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>