 <nav class="navbar navbar-expand-md" style="background-color: #e3f2fd;">
  <div style="margin-left: 3vh;">
    <img src="https://thumbs.gfycat.com/AnotherFlamboyantCobra-size_restricted.gif"
     width="auto" height="70px" class="d-inline-block align-top" alt="Don't click me!">
  </div>
  <ul class="nav navbar-nav">
    <li>
      <div class=" col-sm-4" width="180px" height="50px">
        <a [routerLink]="['/dataForm']" routerLinkActive="router-link-active" class="navbar-brand" href="#">
          <img src="./assets/skills.svg" class="imgMenu" alt="Skill">
          <p class="textMenu">Skill</p>
        </a>
      </div>
    </li>
    <li>
      <div class=" col-sm-4">
        <a [routerLink]="['/templateForm']" routerLinkActive="router-link-active" class="navbar-brand" href="#">
          <img src="./assets/chest-armor.svg" class="imgMenu" alt="Itens">
          <p class="textMenu">Itens</p>
        </a>
      </div>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>